//Watch Video & img poupup
.watch-version01 {
	background: url(../img/team/watch-bg01.png) no-repeat center center;
	background-size: cover;
	padding: 300px 5px;
	background-attachment: fixed;
	.video-popup {
		.icons {
			@include box(122);

			i {
				font-size: 36px;
				color: $black;
			}
		}
		.circle {
			position: absolute;
			top: -32px;
			left: -34px;
			animation: textani 14s linear infinite;
		}
	}
	@include maxQuery(1399) {
		padding: 220px 4px;
	}
	@include maxQuery(991) {
		padding: 180px 4px;
	}
    @include maxQuery(575) {
		padding: 140px 4px;
	}
}
//Watch Video & img poupup
